* {
	background-color:white;
	color:black;
	text-align: left;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
}
header {
	background-color:oldlace;
	padding:0px;
	margin:0px;
}
header h1 {
	text-align: center;
	font-weight: bolder;
	color:#000000;
	background-color:oldlace;
}
header h2 {
	font-size: 15pt;
	text-align: left;
}
header p{
	font-size: 12pt;
	padding:0px;
}
header img{
	height: 40%;
	width: 40%;
	text-align: center;
}
header div{
	text-align: center;
	padding: 0px;
	margin:0px;
}
a {
	padding:0px;
	margin: 0px;
}
h2+p::first-letter {
	color: black;
	background-color:oldlace;
	border-radius:none;
	box-shadow:none;
	padding:0;
	margin-right:0;
	float: inherit;
	font-size: 12pt
}
main{
	padding:0px;
	margin:0px;
}
main h2{
	font-weight: bold;
	padding:0px;
	margin:0px;
}
p{
	font-size: 12pt;
	padding:0px;
	margin:10px;
}
footer a{
	color:#7C13A4;
	padding:0px;
}
section {
	padding:0px;
}
h3{
	background-color:oldlace;
	border: none;
	font-size: 14pt;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
	text-decoration-line: none
}
