@charset "utf-8";
/* CSS Document */
* {
	text-align: center;
	list-style-position: inside;
	padding-left: 0;
	background-color:antiquewhite;
	font-family: "diplomata-sc"
}
header h1 {
	font-size: 40pt;
	font-weight: bolder;
	border-bottom: double;
	border-top: double;
}
header h3 {
	margin-bottom: -15pt;
	margin-top: -15pt;
}
img {
	background-color: transparent;
	margin-right: -75pt;
	padding: none
}
main h2 {
	font-size: 35pt;
	margin-bottom: 0pt;
	margin-top: 15pt;
}
main h3 {
	font-size: 23pt;
	margin-top: 10pt;
	margin-bottom: -10pt;
}
footer p {
	font-size: 10pt
}
main ul {
	font-size: 15pt;
}
#reward {
	float: right;
	border: 2px;
	padding: none;
}
main p {
	font-size: 15pt
}

