@charset "utf-8";
/* CSS Document */
* {
	text-align: center;
	list-style-position: inside;
	padding-left: 0;
	background-color:antiquewhite;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif" 
}
header h1 {
	font-size: 40pt;
	font-weight: bolder;
	border-bottom: double;
	border-top: double;
}
header h3 {
	margin-bottom: -15pt;
	margin-top: -15pt;
}
img {
	background-color: transparent;
	padding: 10pt
}
main h2 {
	font-size: 35pt;
	margin-bottom: 0pt;
	margin-top: 15pt;
}
main h3 {
	font-size: 23pt;
	margin-top: 10pt;
	margin-bottom: -10pt;
}
footer p {
	font-size: 10pt;
	font-weight: lighter;
}
main ul {
	font-size: 15pt;
}
#reward {
	float: right;
	margin-right: 100pt;
	margin-top: 200pt;
	margin-left: -250pt;
}
main p {
	font-size: 25pt;
	font-weight: bolder;
	margin-top: -35pt
}
main h4 {
	font-size:35pt;
	margin: none;
	
}
