*{
	font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif"
}
header img{
	height: 100px;
}
div{
	text-align:center;
	background-image: url("redwood.jpg");
	height: 150px;
	color: white;
}
footer p{
	text-align:center;
}
main{
	text-align:center
}