@charset "utf-8";
/* CSS Document */
* {
	text-align: center;
	list-style-position: inside;
	padding-left: 0;
	background-color:antiquewhite;
}
header h1 {
	font-size: 40pt;
	border-bottom: double;
	border-top: double;
	font-weight: bolder 
}
img {
	background-color: transparent
}
main h2 {
	font-size: 35pt;
}
main ul {
	font-size: 15pt
}
main h3 {
	font-size: 23pt
}

