*{
	font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif"
}
header img{
	height: 150px;
}
div{
	text-align:center;
	background-image: url("redwood.jpg");
	height: 150px;
}
div h1{
	color: white;
}
footer p{
	text-align:center;
}
main{
	text-align:center
}
main p{
	margin-left: 250px;
	margin-right: 250px;
}
main img{
	margin: 10px;
}